
.flex-Container {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.shop-card-container {
position: relative;
width: 250px;
height: 450px;
margin-bottom: 20px;
transition: all 2s;
background: #ECEFF1;

&:hover {
    p {
        top: 270px;
    }

    border: 1px solid rgb(61, 61, 61);
}

p {
    margin-bottom: 0;
    
}
}

.shop-card-image {
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

.shop-price {
    text-align: center;
    position: absolute;
    top: 276px;
    background: white;
    margin-left: 18px;
  width: 60px;
}

.shop-desription {
    margin: 20px;
}

svg {
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
}



.product-stylist {
    color: rgb(97, 97, 97);
    margin-bottom: 7px !important;
    font-size: 15px;
}

.shoping-bag {
    left: 10px;
    top: 10px;
    color: rgb(255, 4, 100);
}



